@model SimpleSheets.Data.Models.EmployeeProjectMapCreate
@{ 
    var projects = ViewData["Projects"] as IEnumerable<SimpleSheets.Data.Models.Projects>;
    var emps = ViewData["Employees"] as IEnumerable<SimpleSheets.Data.Models.Employee>;
}
<h4>EmployeeProjectMapCreate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEmployeeProjectMap">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" disabled/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpId" class="control-label"></label>
                @*<input asp-for="EmpId" class="form-control" />*@
                <select asp-for="EmpId" name="EmpId" class="form-control">
                <option value="0">Select</option>
                @{
                    foreach (var emp in emps)
                    {
                        <option value="@emp.Id">@emp.FullName</option>
                    }
                }
            </select>
                <span asp-validation-for="EmpId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                @*<input asp-for="ProjectId" class="form-control" />*@
                <select asp-for="ProjectId" name="ProjectId" class="form-control">
                    <option value="0">Select</option>
                    @{
                        foreach (var project in projects)
                        {
                            <option value="@project.Id">@project.Title</option>
                        }
                    }
                </select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

