<a asp-controller="Admin" asp-action="GetEmployee">View Employee</a>
<a asp-controller="Admin" asp-action="GetProjects">View Project</a>
<a asp-controller="Admin" asp-action="GetRoles">View Roles</a>
<a asp-controller="Admin" asp-action="GetTimeType">View Timetypes</a>