@{
    ViewData["Title"] = "Admin Console";
    var display = ViewData["Display"];
}

<div>
    <form enctype="multipart/form-data" action="/Admin/GetRoles" method="post" class="form">
        <button type="submit" class="btn btn-success">View Roles</button>
    </form>
    <form enctype="multipart/form-data" action="/Admin/GetProjects" method="post" class="form">
        <button type="submit" class="btn btn-success">View Projects</button>
    </form>
    <form enctype="multipart/form-data" action="/Admin/GetEmployee" method="post" class="form">
        <button type="submit" class="btn btn-success">View Employess</button>
    </form>
    <form enctype="multipart/form-data" action="/Admin/GetTimeType" method="post" class="form">
        <button type="submit" class="btn btn-success">View Timetypess</button>
    </form>
    <form enctype="multipart/form-data" action="/Admin/GetEmployeeProjectMap" method="post" class="form">
        <button type="submit" class="btn btn-success">View employee project mapping</button>
    </form>
    
</div>
