
<div class="card-deck" style="margin-left:60px">

    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">

        <div class="card-header">View My Timesheets</div>

        <div class="card-body">

            <h5 class="card-title">Get Timesheet details</h5>

            <p class="card-text">You can view,edit or delete your timesheet details here.</p>

            <a asp-controller="TimeSheet" asp-action="GetTimeSheets" class="btn btn-success">Go</a>

        </div>
        </div>  

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">


            <div class="card-header">View my Details</div>

            <div class="card-body">

                <h5 class="card-title">Get my details</h5>

                <p class="card-text">You can view your details stored in organization.</p>

                <a asp-controller="TimeSheet" asp-action="GetmyDetails" class="btn btn-danger">Go</a>

            </div>
            
        </div>


    </div>