<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">View My Timesheet</h5>
        <p class="card-text">View your timesheet data all at one place!</p>
        <a asp-controller="TimeSheet" asp-action="GetTimeSheets">View</a>
    </div>
</div>